ssh/
.sync/
anthy/
mpd/*
!mpd/mpd.conf
mpv/*
!mpv/input.conf
!mpv/mpv.conf
!mpv/youtube-dl.conf
nvim/plugged/
nvim/spell/
openvpn/
pacman.d/
polybar/vpnStatus
ranger/plugins/__pycache__
rslsync/
systemd/
amazonRemote.json
emoji
hosts
zshrc.old
ranger/plugins/__init__.py
nvim/autoload/plug.vim
